parameters:
  level: 6
  paths:
    - .
  excludes_analyse:
    - vendor
    - node_modules
    - tests
  checkMissingIterableValueType: false
  checkGenericClassInNonGenericObjectType: false
